 *{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
}
header{
	background: #010026;
	color: white;
	display: flex;
	height:50px ;
	justify-content: space-between;
	align-items: center;
	position:sticky;
/*	top: 0;*/
/*	overflow: hidden;*/
/*width: 100%;*/
/*background:#dc4492 ;                                     here header is fixed*/
}
.navbar1{
	width: 40%;
	display: flex;
	margin: 0px auto;
	font-size: 25px;
	justify-content: center;
	align-items: center;
	position: relative;
	right: 150px;
}

li{
	margin:20px;
	list-style-type: none;
}
/*											Home*/
.home{
	height: 750px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #010026;
}
.box1{
/*	position: absolute;*/
	color: white;
	border: 3px solid;
/*	flex: flex-start;*/
	height: 30%;
	width: 25%;
text-align: center;
border: none;
}
.brush{
	position:absolute;
	bottom: 320px;
	height: 500px;
/*	height: 10%;*/
}
.social{
	display: flex;
	justify-content: center;
	align-items: center;
/*	border: 3px solid;*/
/*	border-color: red;*/
	margin-top: 10px;
	padding: 20px;
}
.social1{
/*	height: px;*/
font-size: 200%;
	margin: 10px;
	color: blu;e
}
.social1 a{
	color: white;
	text-decoration: none;
	list-style-type: none;
}
.social1 a:hover {
  color: pink; /* change to the color you prefer on hover */
}

.box2{
/*	border: 3px solid;*/
	height: 75%;
width: 50%;
display: flex;
align-items: center;
border-color: red;
/*position: relative;*/
/*padding-left: 10%;*/
}
.box21{
	border: 2px solid;
	height: 90%;
	width: 400%;
	border-radius:230px 230px 0px 0px;
	border-color: #2cbce9;
	position: relative;
	left: 10%;
}
.box22{
	border: 2px solid;
	height: 90%;
	width: 500%;
	border-radius:230px 230px 0px 0px;
	background-image: url(subhan.jpeg);
 	background-position: center center;
	background-size: cover;
	border-color: lightcyan;
	position: relative;
	right:14%;
top: 16%;
/*left: 2%;*/
}

.subhannamelogo{
	display: flex;
	justify-content: center;
	align-items: center;
/*	width: 100%;*/
}

.Muhammad{
	font-size: 40px;
/*	width: 50%;*/
}

.subhan{
	font-size: 40px;
/*	  padding: 10px 20px;*/
/*width: 100%;*/

	display: inline-block;
/*  padding: 10px 20px;*/
/*  border: none;*/
/*  border-radius: 5px;*/
  
  border: 10px solid transparent;

  color: black;
/*  background: #010026;*/
/*  cursor: pointer;*/
  border-image:url('brush.png') 60 fill stretch ;
}
  
  }
 
/*  .b1, .b2{
  	display: flex;*/

  }
  .button{
  	/*background color:#010026 ;
  	padding: 40px;*/
  /*display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
 /* border: 10px solid transparent;
  border-image: url('border-image.png') 30 fill stretch;
  border-image-width: 20px;*/
/*  background-image: linear-gradient(to right, #FF9800, #FF5722, #FFC107);*/
}

/*.b2{*/
	display: inline-block;
  padding: 10px 20px;
/*  border: none;*/
/*  border-radius: 5px;*/
  
  border: 10px solid transparent;
  color: white;
  background: #010026;
  font-size: 16px;
  cursor: pointer;
/*  border-image:url('brush.png') 30 fill stretch; */
/*  border-image-width: 20px;*/
/*  linear-gradient(to right, #24cbff, #fc59ff,#ffbd0c);*/
/*border-color: linear-gradient(90deg,#24cbff 14.53%,#fc59ff 69.36%,#ffbd0c 117.73%);*/
}
/*.b1{*/
/*width: 40%;
height: 30%;*/
/*margin: 0px auto;
color: blue;
border: 4px solid;
border-color:red ;
background: linear-gradient(#24cbff, #fc59ff, #ffbd0c, .7)*/;

display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: black;


  font-size: 18px;
  cursor: pointer;
  background-image: linear-gradient(to right, #24cbff, #fc59ff,#ffbd0c);
background-image: linear-gradient(90deg,#24cbff 14.53%,#fc59ff 69.36%,#ffbd0c 117.73%);
  transition: background-color 0.3s ease;
/*   display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border: 10px solid transparent;
*//*  border-image: url('border-image.png') 30 fill stretch;
  border-image-width: 20px;*/
/*  background-image: linear-gradient(to right, #FF9800, #FF5722, #FFC107);
  transition: background-color 0.3s ease;
*/  }



  h2{
	font-size: 35px;

}
p{
	font-size: 20px;
}


.skills{
	background:#010026 ;
	color: white;
	display: flex;
	height: 400px;
	justify-content: space-around;
	align-items: center;
/*	border-top: 3px solid;*/
/*	border-bottom: 3px solid;*/
/*	border-color: pink;*/
	padding-top:10% ;

}
.box31{
height: 70%;
	width: 20%;
text-align: center;
}.subhannamelogoskills{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: ;
/*	width: 100%;*/
}	
.Muhammadskills{
	font-size: 40px;
}
.subhanskills{
	font-size: 40px;
	color: #dc4492 ;
	margin: 5px;
}

.box32{
/*border: 3px solid;*/
	height: 80%;
width: 60%;
display: flex;
align-items: space-around;
position: relative;
left:60px;
border-color:red;

}
.box321{
	border: 2px solid;
	height: 70%;
	width: 70%;
	border-color: #2cbce9;

}
.box322{
/*	border: 4px solid;*/
	height:  70%;
	width: 100%%;
/*	background-image: url(skills-image.png);*/
	background-size: cover;
/*	border-color: lightcyan;*/
	background-position: center center;
	position: absolute;
right:22%;
top: 10%;
left: 6%;

}
.skillsimage{
	height: 100%;
width: 100%}
.skills1{

	background:#010026 ;
	color: white;
	height: 900px;
	justify-content: space-around;
	align-items: center;

}
.s13{
	height: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-shrink: 3 ;
}
.box-logo1{
	border: 4px solid;
	height: 40%;
	border-color: #2cbce9;
	width: 27%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 0px 0px 20px white ;
	}
.box-logo2{
	border: 4px solid;
	height: 40%;
	border-color: #2cbce9;
	width: 27%;display: flex;
	justify-content: center;
	align-items: center;
			box-shadow: 0px 0px 20px white ;

	text-align: center;
	
}
.box-logo3{
	border: 4px solid;
	height: 40%;
	border-color: #2cbce9;
	width: 27%;display: flex;
	justify-content: center;
	align-items: center;
			box-shadow: 0px 0px 20px white ;

	text-align: center;
}
.box-logo11{
	border: 4px solid;
	height: 40%;
	border-color: #2cbce9;
	width: 27%;
	position: relative;
	bottom: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
			box-shadow: 0px 0px 20px white ;

}
.box-logo12{
	border: 4px solid;
	height: 40%;
	border-color: #2cbce9;
	width: 27%;
	position: relative;
	bottom: 130px;display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
		box-shadow: 0px 0px 20px white ;

}
.box-logo13{
	border: 4px solid;
	border-radius: 10px;
	height: 40%;
	border-color: #2cbce9;
	width: 27%;
		box-shadow: 0px 0px 20px white ;

	position: relative;
	bottom: 130px;display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.s23{
	height: 50%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
/*		projects*/
.projects{
	background: #010026;
	color: white;
	height: 900px;
text-align: center;
/*  overflow-y: scroll;*/
  scroll-behavior: smooth;
}
.data1{
	height: 20%;
/*	background: red;*/
display: flex;
justify-content: center;
align-items: center;

}
h6{
	font-size: 25px;
}

.projects1{
	height: 80%;
}
.row1{
	height: 48%;
display: flex;justify-content: center;

}.row2{
	height: 48%;

display: flex;justify-content: center;

}
.ppp21{
	border: 2px solid;
	height: 100%;
	width: 30%;
}
.ppp22{
	border: 2px solid;
width: 30%;	height: 100%;
}.ppp23{
	border: 2px solid;
	height: 100%;width: 30%;
	background: #2cbce9;
	display: flex;
	justify-content: center;
	align-items: center;
}.ppp11{
	border: 2px solid;
	height: 100%;width: 30%;
	background: #dc4492;
	display: flex;
	justify-content: center;
	align-items: center;
}.ppp12{
	border: 2px solid;
	height: 100%;width: 30%;
	background-image: url(login.png);
	background-position: center center;
	background-size: cover;
}.ppp13{
	border: 2px solid;
	height: 100%;
	width: 30%;


}.recipie-form{
	height: 100%;
	width: 100%;
}


.pad{
	padding: 10px;
	margin: 20px;
	width: 90%;
	background: #2cbce9;
	color: #1d7a98;
}
.pad56{
	display: flex;
	justify-content: flex-start;
/*width: 30%;
height: 3%;
padding: 10px;
text-align: center;
	background: ;
	outline: none;
	border: none;*/
}
.pad56 button{
padding-top:20px ;
padding-left:20px ;
padding-right:20px ;
padding-bottom:20px ;
margin-left: 4.2%;
/*cursor: hover;*/
	text-align: center;
	font-size: 13px bold;
	color: black ;
	outline: none;
	border: none;
	background: #fdcc49;
}


/*						Footer*/
.footer{
background: #dc4492;
/*	color: yellow;*/
	height: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.a1{width: 120px;
/*	color: red;*/
	padding-bottom: 5px;
	margin: 0px auto;
	background: radial-gradient(blue,violet);
	

}
.a2
	{width: 700px;

/*	color: red;*/
	padding-bottom: 8px;
/*	margin: 0px auto;*/ 
	background: linear-gradient(blue,violet);
	
}
.a3{
	margin-top: 5%;
	margin-bottom: 15%;
	margin-left: 10%;
	padding: 1px;
	width: 45%;
background-image: linear-gradient(90deg,#24cbff 14.53%,#fc59ff 69.36%,#ffbd0c 117.73%);
border: none;
}
.a4{
	background-image: linear-gradient(90deg,#24cbff 14.53%,#fc59ff 69.36%,#ffbd0c 117.73%);
/*width: 100%;*/
height: 2px;
}
.technologies{
	font-size: 18px;
}
.videos{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 700px;
	background: #010026;

}
.box{
	box-shadow: 0px 0px 10px white;
}
.mysql{
	height: 80%;
	width: 80%;
/*	mix-blend-mode: color-burn;*/
}
.htttml{
	height: 80%;
	width: 80%;
}.word{
	height: 80%;
	width: 80%;
}.php{
	height: 80%;
	width: 80%;
}.bootstrap{
	height: 80%;
	width: 80%;
}.css{
	height: 80%;
	width: 80%;
/*	mix-blend-mode: color-burn;*/
/*	color: red;*/

}
.contactpage{
	height: 550px;
	background: #010026;
}
.contactmecontactme{
	display: flex;
	height: 15%;
	color: white;
/*	text-align: center;*/
	align-items: flex-end;
	justify-content: flex-end;
	font-size: 30px;
}
.yellow-contact-me{
	color: #fdcc49;
}
.white-contact-me{
	margin-left:1% ;
}
.white-contact-me-border{
	padding: .25%	;
/*	height: 40px;*/
	width: 3%;display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	background-image: linear-gradient(90deg,#24cbff 14.53%,#fc59ff 69.36%,#ffbd0c 117.73%);


}

/*}
.contactmenow{

	height: 850px;
display: flex;
justify-content: space-around;
align-items: center;
	text-align: center;

}
*/



/*.groupimge {
	width:60%;
	height: 50%;
}.intro{
	width: 40%;
}*/
.cnt{
	height: 90%;
/*	border: 3px solid;*/
/*	border-color: red;*/
/*	border-color: green;*/
	display: flex;
	justify-content: space-around;
	align-items: center;
		background: #010026;
}
.cnt1{
/*	border: 2px solid;*/

border-color: black;
height: 100%;

}
.cnt2{
/*	border: 2px solid;*/

border-color: black;
height: 100%;

}
.cntt{
			/*background: #010026;
	font-size: 35px;
	color: white ;
	text-align: center;*/
/*	position: relative;
	top: 100px;*/
}
.social23{
	width: 100%;
height: 30%;
margin: 0px auto;
/*color: blue;*/
/*border: 4px solid;*/
display: flex;
justify-content: CENTER;
align-items: center;
/*border-color:red ;*/
color: white;
/*position: relative;
left: 50				px;*/
/*background: linear-gradient(#24cbff, #fc59ff, #ffbd0c, .7);*/
}
.footer-footer{
	position: relative;
	left: 50px;
/*	top: 500px;*/
}
.social111{
font-size: 35px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.social111 a{
	color: white;
	text-decoration: none;
	list-style-type: none;
}
.social111 a:hover {
  color: pink; /* change to the color you prefer on hover */
}
